<div class="toast-notification-container"  [ngClass]="{'top-right': position == 1, 'bottom-left': position == 2 , 'top-left': position == 0, 'bottom-right': position == 3  }">
    <div  *ngFor="let notification of visibleNotifications"  >
      <div  class="toast-notification" *ngIf="notification?.show" [ngClass]="{'error': notification?.type == 2 , 'success': notification?.type == 0 , 'warning': notification?.type == 1}">
        <div class="heading" >
          <span>{{ notification?.headingTitle  }}</span>
        </div>
        <div class="subheading" *ngIf="notification?.subheadingTitle">
          <span>{{ notification.subheadingTitle }}</span>
        </div>
        <div class="message">
          <span>{{ notification.message }}</span>
          <span class="badge">  {{  visibleNotifications.length}}</span>
        </div>
    </div>
  </div>
  
</div>
